
/* Media Query */
/* for Desktop: 801px ~ */

/* for tablet: ~ 800px */
@media screen and (max-width: 800px) {

}
/* for smartphone: ~ 480px */
@media screen and (max-width: 480px) {

}

/* clearfix */
#content-wrap:after {
    content: "";
    display: block;
    clear: both;
}

aside {
    padding: 10px;  
    position: fixed;
    top : 60px;
    bottom: 0;
    width: 200px;
    background-color: rgba(28,110,164,0.15);
    font-size: 25px;
    /* font-weight: bold; */
    line-height:1.7em;
}

section {
    margin-left: 200px;
    padding: 20px;
}

header {
    background-color: #00529b;
    color: white;
    width: 100%;
    height: 60px;
    z-index: 2000;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
}

nav {
    float: right;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #58666e;
    background-color: #f0f3f4;
}

li {
    list-style: none;
    color: white;
}

a {
    color: white;
    text-decoration:none;
}

a:hover {
    color: rgba(0, 0, 0, 0.4);
}

hr {
    border-color: white;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    color: black;
}

th {
    border: 1px solid #444444;
    padding: 5px;
    background-color: rgba(113, 162, 235, 0.5);
}

td {
    border: 1px solid #444444;
    padding: 5px;
}

.input-box {
    text-align: center;
    padding: 2px;
    margin: 2px;
    width: 250px;
}

.fixed-box {
    position: fixed;
    text-align: center;
}

.footer {
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    line-height: 50px;
    border-top: 1px solid darkgray;
    color: gray;
  }

.login {
    text-align: center;
    padding: 250px 0px;
}

.logout {
    float: right;
    height: 37px;
}

.button {
    width:80px;
    background-color: #9ebdf8;
    border: none;
    color:#fff;
    padding: 5px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    margin: 1px;
    cursor: pointer;
    border-radius:10px;
}

.title {
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
}