<div id="login" class="row h-100">
  <form [formGroup]="loginForm" class="form-login" (ngSubmit)="login()">

    <div class="wrapper">
      <img class="mb-4" src="/assets/images/hanjinCI.png" width="110" height="110" />
      <h1 class="h3 mb-3 font-weight-normal">HIST 차량관리</h1>

      <div class="form-group">
        <label for="userId" class="sr-only">userId</label>
        <input (keyup.enter)="onEnter()" type="text" formControlName="userId" class="form-control" placeholder="ID"
          autofocus />
      </div>
      <!-- <div *ngIf="loginForm.controls['userId'].touched && loginForm.controls['userId'].hasError('maxLength')"> 10 max </div> -->

      <div style="color: red" *ngIf="loginForm.controls['userId'].errors?.maxlength">Maximum of ID 15 characters</div>
      <div style="color: red" *ngIf="loginForm.controls['userId'].errors?.minlength">Minimum of PW 4 characters</div>

      <div class="form-group">
        <label for="userPassword" class="sr-only">userPassword</label>
        <input (keyup.enter)="onEnter()" type="password" formControlName="userPassword" class="form-control"
          placeholder="PASSWORD" />
      </div>

      <div style="color: red" *ngIf="loginForm.controls['userPassword'].errors?.maxlength">Maximum of ID 15 characters
      </div>
      <div style="color: red" *ngIf="loginForm.controls['userPassword'].errors?.minlength">Minimum of PW 8 characters
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me" /> Remember me
        </label>
      </div>

      <button type="submit" value="Login" class="btn btn-lg btn-primary btn-block"
        [disabled]="!loginForm.valid">Login</button>

      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>

    </div>

  </form>

  <div class="footer" style="margin-bottom: 10px;">
    &copy; Hanjin Information & Telecommunication System
  </div>

</div>
