<div role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
  <h1>Fill in</h1>

  <div #inputForm [formGroup]="historyInputForm">

    <div class="form-row">
      <label for="datepicker" class="col-form-label">사용 일자</label>
      <div class="form-group col-md-12" style="display: flex;">
        <mat-form-field class="col-md-6" appearance="outline" style="padding-left: 0px; padding-right: 0px;"
          [ngStyle]="{'font-size.px': 15}">
          <mat-label>시작일</mat-label>
          <input matInput [matDatepicker]="picker1" placeholder="YYYY-MM-DD" formControlName="datefrom">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <span style="margin-top: 20px; font-weight: bold; color: gray;">&nbsp;&nbsp;~&nbsp;&nbsp;</span>
        <mat-form-field class="col-md-6" appearance="outline" style="padding-left: 0px; padding-right: 30px;"
          [ngStyle]="{'font-size.px': 15}">
          <mat-label>종료일</mat-label>
          <input matInput [matDatepicker]="picker2" placeholder="YYYY-MM-DD" name="dateTo" formControlName="dateto">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="selectCar" class="col-form-label">차량선택</label>
        <select id="selectCar" class="form-control" formControlName="histCar">
          <option [value]="item.code" *ngFor="let item of histCarList">{{item.name}}</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="inputDpt" class="col-form-label">소속명</label>
        <input type="text" class="form-control" placeholder="소속명" formControlName="driverdept">
      </div>
      <div class="form-group col-md-4">
        <label for="inputName" class="col-form-label">성명</label>
        <input type="text" class="form-control" placeholder="성명" formControlName="drivernm">
      </div>
    </div>


    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="selectUseType" class="col-form-label">사용형태</label>
        <select id="selectUseType" class="form-control" formControlName="usetype">
          <option [value]="item.code" *ngFor="let item of useTypeList">{{item.name}}</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="selectPurpose" class="col-form-label">사용유형</label>
        <select id="selectPurpose" class="form-control" formControlName="usepurs">
          <option [value]="item.code" *ngFor="let item of usePursList">{{item.name}}</option>
        </select>
      </div>
    </div>

    <div class="form-group width: 100%">
      <label for="useDetail">사용목적 기입</label>
      <textarea class="form-control" id="useDetail" rows="3" formControlName="usepursdetail"></textarea>
    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="inputDestination" class="col-form-label">목적지</label>
        <input id="destination" type="text" class="form-control" placeholder="목적지" formControlName="dest">
      </div>
      <div class="form-group col-md-3">
        <label for="inputStopover" class="col-form-label">경유지</label>
        <input type="text" class="form-control" placeholder="경유지" formControlName="dropby">
      </div>
      <div class="form-group col-md-3">
        <label for="inputKM" class="col-form-label">주행거리</label>
        <span style="display: flex;"><input type="text" class="form-control" placeholder="주행거리"
            formControlName="drivedist"><span style="margin-top: 5px;">KM</span></span>
      </div>
      <div class="form-group col-md-3">
        <label for="inputRefuel" class="col-form-label">주유내역</label>
        <span style="display: flex;"><input type="text" class="form-control" placeholder="주유량"
            formControlName="fueling"><span style="margin-top: 5px;">L</span></span>
      </div>
    </div>
  </div>


  <div class="row justify-content-center" style="margin-top: 20px;">
    <button (click)="add()" id="addInputData" class="btn btn-md btn-primary" type="submit"
      style="margin: 5px;">입력완료</button>
    <button (click)="close()" id="closePage" class="btn btn-md btn-primary" type="submit"
      style="margin: 5px;">닫기</button>
    <button (click)="login()" id="closePage" class="btn btn-md btn-primary" type="button"
      style="margin: 5px;">login</button>
  </div>
